<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<div class="container">
    <form action="http://localhost:3000/info" method="POST">
        <div class="form-group">
            <label for="userKey">User Key</label>
            <input type="text" name="userKey" class="form-control" id="userKey"  value="1e6e0cb5-d1e6-4562-9980-d825988565b0">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

