- var message = message;

html
    headhtml
        head
            title Render HTML using PUG
        body
        title Render HTML using PUG
    body(style = {margin: 'auto'})
        h3.
            Ups... Something is NOT YES #[br]
            #{message}